@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}


@keyframes wave-once {
  0% { transform: rotate(0deg);}
  10% { transform: rotate(14deg);}
  20% { transform: rotate(-8deg);}
  30% { transform: rotate(14deg);}
  40% { transform: rotate(-4deg);}
  50% { transform: rotate(10deg);}
  60% { transform: rotate(0deg);}
  100% { transform: rotate(0deg);}
}
.animate-wave-once {
  animation: wave-once 1.5s 1;
  display: inline-block;
  transform-origin: 70% 70%;
}